.tituloProductos{
    height: 10svh;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1{
        font-family: $fontH;
        color: $gold1;
        font-size: clamp(32px, 10svh,70px);
        margin: 0;
    }

}
.productos{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2svh;
    margin: 3svh 0 10svh 0;
    & img{
        width: 100%;
        height: auto;
        border-radius: 12px;
        position: relative;
    }
}